# Data Analysis

# Python Intro, Part 3: Tuples, Sets, Dictionaries, Classes/Objects

In this notebook we will, after a quick recap, introduce more data structures: tuples, sets, dictionaries, and series. Sets and dictionaries are built-in Python data structures, but we will mostly work with series and dataframes which are part of the [pandas library](http://pandas.pydata.org/) tailored to data science applications. We will also briefly introduce objects and object oriented programming.

## If-Statements Recap

* By using if-elif-else statements we can implement conditional flow in a program. 
* If an elif take a parameter that is tested for truthiness. The parameter can be a boolean (`True` or `False`), or any other data type. 
    * For numerical data types, 0 and None evaluates to false, everything else to true.
    * For lists, strings, dictionaries, an empty container evaluates to false.

See the [documentation](https://docs.python.org/3/library/stdtypes.html#truth-value-testing) to understand what is considered true and false.

In [1]:
def factors(x):
    # notice the use of the negation and the use of 0 as false
    if not x % 2:
        print("2 is a factor of " + str(x))  
    elif not x % 3:     # only evaluated when if was false
        print("3 is a factor of " + str(x))
    else: # only evaluated when both if and elif were false
        print("Neither 2 nor 3 are factors of " + str(x))

factors(4)
factors(9)
factors(13)

2 is a factor of 4
3 is a factor of 9
Neither 2 nor 3 are factors of 13


## Lists Recap

A list is a collection of items.

Lists are created with square brackets `[]` and can be accessed via an index:

In [2]:
beatles = ["Paul", "John", "George", "Ringo"]
# printing the whole array
print(beatles)
# printing the first element of that array, at index 0
print(beatles[0])
# fourth element, at index 3
print(beatles[3])
# access the one-but-last element
print(beatles[-2])

['Paul', 'John', 'George', 'Ringo']
Paul
Ringo
George

We can also create **slices of an array with the slice operator `:`**

```python
a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array
```
There is also the step value, which can be used with any of the above:

```python
a[start:end:step] # start through not past end, by step
```

In [3]:
# Get the slice from 0 (included) to 2 (excluded)
beatles[:2] # this can also be written as [0:2]

['Paul', 'John']

The slice operation returns a new array, the original array is untouched:

In [4]:
beatles

['Paul', 'John', 'George', 'Ringo']

**We can change the elements that are contained in a list**:

In [5]:
beatles[1] = "JohnYoko"
beatles

['Paul', 'JohnYoko', 'George', 'Ringo']

Lists can also be **extended in-place with the `append()` function**:

In [6]:
beatles.append("George Martin")
beatles

['Paul', 'JohnYoko', 'George', 'Ringo', 'George Martin']

Lists can be **concatenated**:

In [7]:
zeppelin = ["Jimmy", "Robert", "John", "John"]
beatles += zeppelin
beatles

['Paul',
 'JohnYoko',
 'George',
 'Ringo',
 'George Martin',
 'Jimmy',
 'Robert',
 'John',
 'John']

We can **check the length** of a list:

In [8]:
len(zeppelin)

4

Lists can also be **nested**:

In [9]:
# let's reset the beatles first
beatles = ["Paul", "John", "George", "Ringo"]
bands = [beatles, zeppelin]
bands

[['Paul', 'John', 'George', 'Ringo'], ['Jimmy', 'Robert', 'John', 'John']]

### While Loop Recap

While loops use the `while` keyword, a condition, and the loop body:

In [10]:
a, b = 1, 1
while b < 1000:
    print(b, end=", ") 
    temp = b
    b += a
    a = temp
    # a better way of writing this is using simultaneous assignment: 
    # a, b = b, a + b

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,

This continues, until the terminating condition is reached. 

We can also **use the `break` statement to terminate a loop**:

In [11]:
a, b = 1, 1
while True:
    print(b, end=", ") 
    a, b = b, a + b
    if b > 1000:
        break

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,

### For Loop Recap


For loops are mainly used to iterate over items of a sequence.

In [12]:
for member in zeppelin: 
    print(member)

Jimmy
Robert
John
John

When you want to iterate over a sequence of numbers, use the [`range()`](https://docs.python.org/3/library/stdtypes.html#range) function. Range generates a sequence of numbers:

In [13]:
for i in range(10): 
    print (i)

0
1
2
3
4
5
6
7
8
9

We can use the `range(start, stop, step)` attributes to create custom indices:

In [14]:
for i in range (9, -1, -1):
    print (i)

9
8
7
6
5
4
3
2
1
0

### List Comprehension Recap

[List comprehension](https://docs.python.org/3.5/tutorial/datastructures.html#list-comprehensions) is a compact way to modify or create lists in python. 

Here is the syntax: 

```python
[new_element for original_element in original_list] 
```
 * `new_element` can be any expression, including just a number, or an operation. You can also refer to the `original_element` in this expression. 
 * `original_element` is just a member of the original list. Sometimes we don't need this original element, then we just write `_` by convention. 
 * `original_list` is a list that I use as a basis for the list comprehension. This can be an existing list with data, or it can be a range expression. 
 
Here are some examples. Notice that you would just use a plain range function in practice for some of these examples.

In [15]:
my_list = list(range(10))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Initialize an list with 0s. We don't use the `original_element`, hence `_`.

In [31]:
[i for i in my_list]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can do the range in the list comprehension directly:

In [ ]:
[0 for _ in range(10)]

Here we use the `original_element`. This effectively copies the list.

In [32]:
[original_element for original_element in my_list]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Here we use an operation on the original_element in the list.

In [33]:
[original_element*2 for original_element in my_list]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Here I'm combining a slicing operation on `my_list` that inverts the order of `my_list` with a list comprehension.

In [42]:
[original_element for original_element in my_list[::-3]]

[9, 6, 3, 0]

We've seen before that we can use functions in the list comprehension:

In [43]:
[len(my_list) for _ in my_list]

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

Or, with a more interesting example:

In [45]:
import random
rands = [random.random() * 10 for _ in range(100)]
rands

[1.569576821933596,
 3.421971978284668,
 1.476413837807723,
 7.365450693690995,
 8.741910357104981,
 0.586639725892979,
 3.136299694078226,
 7.253021724278199,
 0.7175287662153573,
 3.310460927523411,
 6.508289062476695,
 8.832717875144937,
 6.225891174543719,
 6.877725687611087,
 2.9895256313414587,
 4.4100830221085605,
 7.013510736649855,
 0.5318925189940005,
 1.051328910386683,
 2.6830584536865776,
 1.479966424443352,
 2.6798363519524147,
 2.465644884673208,
 9.29125782565336,
 2.4484928740866687,
 6.370666493623805,
 0.49971362205768477,
 5.939432839945747,
 2.2382683052315864,
 7.425898736886198,
 3.5174038559819043,
 5.68009898542821,
 9.828332457630584,
 7.569139999112039,
 3.7075154439518556,
 7.250320351160937,
 7.911460916597414,
 7.765131108750115,
 1.558024624535873,
 0.6172436643299162,
 0.06972312635117106,
 8.129543953084168,
 3.8924317279421627,
 5.301553752864493,
 5.28104855749648,
 4.7687082815496655,
 8.97840962604207,
 5.72827723648361,
 2.429101907456496,
 6.4078804213658245,
 6.981599018669582,
 8.305515946349617,
 5.3523495835727255,
 0.6171019139932232,
 5.9841768933938795,
 8.912894491088315,
 9.020252770149057,
 0.6382761329421327,
 9.335399558758677,
 0.7043646775466994,
 2.1074797660192934,
 1.5552340262213293,
 4.461887181827279,
 9.8506281008761,
 8.659428917033308,
 4.770934064234597,
 2.1853039949516195,
 6.156065363258966,
 7.936796915170766,
 8.178000356643656,
 9.361729729084661,
 8.896090603507878,
 3.1193311511880317,
 8.022618451872965,
 3.266146713238859,
 9.545184414958419,
 8.807839721159356,
 6.618681364439787,
 3.152877155550926,
 0.369923244733098,
 5.662165439251905,
 3.1043794186224147,
 8.174766644268722,
 1.3074940517033995,
 5.428621035565428,
 3.5539388318032406,
 2.3997939429221837,
 6.89065676796643,
 2.4622926184645086,
 3.8142634143424847,
 1.8116532408780417,
 3.6619337393824214,
 2.589264592534899,
 8.919727066918611,
 0.6003386569228375,
 6.517510272238674,
 3.4549090627200396,
 7.940706638353357,
 1.8352210917946687,
 1.6364783515610748]

## 1. Tuples

[Tuples](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) are a list-like data structure that are, in contrast to lists, **immutable**. 

The purpose of tuples is to store objects of different types. Remember that lists should only contain **homogeneous data** and numpy lists even enforce that; Tuples are designed for the **heterogeneous case**. 

Also, Tuples have practical implications for performance and `HashTables`, which we will discuss later. 

Here is how we can initalize a tuple:

In [46]:
person = "Alex", 1981, "Computer Science"
person

('Alex', 1981, 'Computer Science')

Initialization with brackets is prefered, since it's more explicit:

In [47]:
person = ("Alex", 1981, "Austria")
person

('Alex', 1981, 'Austria')

We can access them just like arrays:

In [48]:
person[1]

1981

We cannot, however change values. This throws a **TypeError**.

In [49]:
# throws TypeError
person[1] = 1985

TypeError: 'tuple' object does not support item assignment

Arbitrary objects can be part of a tuple:

In [50]:
train_schedule = ("Train 1", [9,11])
# this works because we're modifying the mutable array within the immuatable tuple.
train_schedule[1][0] = 15
train_schedule

('Train 1', [15, 11])

Of course, that includes tuples:

In [51]:
train_schedule = ("Train 1", (9,11))
# this doesn't work
# train_schedule[1][0] = 15
train_schedule

('Train 1', (9, 11))

This allows us to create functions with **multiple return values**

Consider the following code:

In [52]:
def multiply(a, b, c):
    return (a*b), (a*c), (b*c), (a*b*c)

Here, it looks like we return multiple values - something that's not possible in most programming languages! But it's very convenient. In practice, we "only" return a tuple. 

Let's try it out:

In [53]:
multiply(3, 7, 11)

(21, 33, 77, 231)

The round brackets in the returned values indicate what's going on: what is returned, is in fact, a tuple!

We can use this return value to assign multiple variables at the same time:

In [54]:
ab, ac, bc, abc = multiply(3, 7, 11)
print(ab, ac, bc, abc)

21 33 77 231

To do this, no function is necessary. We can just do the following:

In [55]:
what, i_s, going, on = "this", "is", "really", "nice" # use () to be more explicit
print(what, i_s, going, on)

this is really nice

## 2. Sets

A [set](https://docs.python.org/3/tutorial/datastructures.html#sets) is a mutable collection, similar to a list, however, it is
 * **not ordered**, and
 * **cannot contain the same element twice**

Here is an example:

In [79]:
# Initialize a set with {}
beatles = {"John", "Paul", "Ringo", "George"}
beatles

{'George', 'John', 'Paul', 'Ringo'}

Notice that on my machine, the output is in a different order from the input: 
`{'George', 'John', 'Paul', 'Ringo'}`

We can also initalize a set with an array or a tuple:

In [57]:
usernames = set(["Jimmy", "Robert", "John", "John"])
usernames

{'Jimmy', 'John', 'Robert'}

We've initialized the set `usernames` with an array of names. We have chose a set, because we don't want to have duplicate user names. 

However, **in the second example, the array included a duplicate – John was specified twice**. We can see, however, that **John is contained in the set only once**.

Sets are great for various tasks. For example, they can be used to remove duplicate entries from lists. Most importantly, they let you very efficiently check whether an element already exists. 

A set works based on a mathematical function that produces a "hash code". This hash code is then used as an index to an array. For example, "Jimmy" could hash to the value 13, and accordingly, Jimmy would be put at the 13th index of an array. When we want to test whether "Jimmy" is already in a set, we simply compute the hash, which will again produce 13, and then look up whether something is stored at index 13. 

We can check whether a set contains a value using the `in` keyword:

In [58]:
"Jimmy" in usernames

True

In [59]:
"Ringo" in usernames

False

Note that this also works in lists, but if your set or list is large, this is considerably slower.

In [60]:
username_list = ["Jimmy", "Robert", "John", "John"]
"John" in username_list

True

We can add values using the add function on a set:

In [61]:
usernames.add("JohnB")
usernames

{'Jimmy', 'John', 'JohnB', 'Robert'}

And remove elements with the remove function:

In [62]:
usernames.remove("John")
usernames

{'Jimmy', 'JohnB', 'Robert'}

If the set doesn't contain a key we want to remove, it will throw a `KeyError`.

In [63]:
usernames.remove("Joseph")

KeyError: 'Joseph'

To prevent that, it is advisable to first check whether a set actually contains a value, if you're not 100% sure:

In [64]:
if ("Joseph" in usernames):
    usernames.remove("Joseph")

We can iterate over the values of a set. Note, however, that no guarantee about the order of the set is made.

In [65]:
for name in usernames:
    print (name)

JohnB
Jimmy
Robert

Make sure to check out the [documentation](https://docs.python.org/3.5/library/stdtypes.html#set) to see what else a set can do.

## Exercise 2: Sets

Write a function that finds the overlap of two sets and prints them. Initialize two sets, e.g., with values `{13, 25, 37, 45, 13}` and `{14, 25, 38, 8, 45}` and call this function with them.

In [93]:
# your code
def set_overlap(a: tuple, b: tuple):
    intersecting_set = set()
    for i in a:
        if (i in b):
            intersecting_set.add(i)
    return intersecting_set

x = {13,25,37,45,13}
y = {14,25,38,8,45}
print(set_overlap(x,y))

{25, 45}

In [100]:
def set_overlap2(a: tuple, b: tuple):
    return set(i for i in a if i in b)



x = {13,25,37,45,13}
y = {14,25,38,8,45}
print(set_overlap2(x,y))

{25, 45}

## 3. Dictionaries

[Dictionaries](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) are related to sets, but are more powerful: in addition to the key used to identify an element in a set, dictionaries also store a value associated with a key. Other terms commonly used for dictionaries are *associative arrays*, *(hash) maps*, and *hash tables*. 

Here is a simple example:

In [96]:
musicians = {"John":"Zeppelin", "Jimmy":"Zeppelin", "Paul":"Beatles", "Ringo":"Beatles"}
musicians

{'John': 'Zeppelin',
 'Jimmy': 'Zeppelin',
 'Paul': 'Beatles',
 'Ringo': 'Beatles'}

As we can see, a dictionary can be created with curly brackets and a list of key-value pairs, separated by a `:`. Here, the names are the keys, the bands are the values. 

There are other ways of creating a dictionary. Here, we pass a list of tuples to the dictionary, but we could also pass a list of lists.

In [101]:
more_musicians = dict([("Thom", "Radiohead"), ("Dave", "Foo Fighters")])
more_musicians

{'Thom': 'Radiohead', 'Dave': 'Foo Fighters'}

Of course, a dictionary can be of any data type. Here is an example with int as keys, floats as values:

In [103]:
numbers = {3:1.45, 4:1.32, 19:9.97, 6:9.99}
numbers

{3: 1.45, 4: 1.32, 19: 9.97, 6: 9.99}

Note that it's generally not a good idea to use floats as keys, as they are stored only as approximations.

Dictionary elements are accessed just as elements in a list, with square brackets, but instead of the index, we pass in the key:

In [104]:
numbers[3]

1.45

In [105]:
musicians["John"]

'Zeppelin'

We can add elements to a dict:

In [106]:
musicians["Thom"] = "Radiohead"
musicians

{'John': 'Zeppelin',
 'Jimmy': 'Zeppelin',
 'Paul': 'Beatles',
 'Ringo': 'Beatles',
 'Thom': 'Radiohead'}

And remove them using the `del` keyword:

In [107]:
del musicians["Thom"]
musicians

{'John': 'Zeppelin',
 'Jimmy': 'Zeppelin',
 'Paul': 'Beatles',
 'Ringo': 'Beatles'}

Again, we have to worry about key errors. If we want to remove Thom again, we'd get a `KeyError`.

In [108]:
del musicians["Thom"]

KeyError: 'Thom'

We can access a list of keys and values separately:

In [109]:
musicians.keys()

dict_keys(['John', 'Jimmy', 'Paul', 'Ringo'])

Notice that the result is not a list or a set, but a [view object](https://docs.python.org/3/library/stdtypes.html#dict-views). A view object always is updated when the dictionary is changed, and we can use it to iterate over a dictionary.

In [110]:
for musician in musicians.keys():
    print(musician)

John
Jimmy
Paul
Ringo

This also works with `values()` and `items()`:

In [111]:
musicians.values()

dict_values(['Zeppelin', 'Zeppelin', 'Beatles', 'Beatles'])

In [112]:
musicians.items()

dict_items([('John', 'Zeppelin'), ('Jimmy', 'Zeppelin'), ('Paul', 'Beatles'), ('Ringo', 'Beatles')])

The latter is especially handy for iterating over the key-value pairs in a dictionary:

In [113]:
# notice that we iterate over the tuples and have the elements of the tuple assigned to k and v, respectively.
for k, v in musicians.items():
    print (k + ", Band: " + v)

John, Band: Zeppelin
Jimmy, Band: Zeppelin
Paul, Band: Beatles
Ringo, Band: Beatles

Another way to write the previous expression would be like this:

In [114]:
for k in musicians.keys():
    print(k + ", Band: " +  musicians[k])

John, Band: Zeppelin
Jimmy, Band: Zeppelin
Paul, Band: Beatles
Ringo, Band: Beatles

Make sure to check out [the dictionary documentation](https://docs.python.org/3/library/stdtypes.html#typesmapping) for more info.

### Exercise 3: Dictionaries

 * Create a dictionary with two-letter codes of two of US states and the full names, e.g., UT: Utah, NY: New York
 * After initially creating the dictionary, add two more states to the dictionary.
 * Create a second dictionary that maps the state codes to an array of cities in that state, e.g., UT: [Salt Lake City, Ogden, Provo, St. George]. 
 * Write a function that takes a state code and prints the full name of the state and lists the cities in that state.

In [118]:
nl_provincies = {"LI": "Limburg", "NH": "Noord Holland"}
nl_provincies["BR"] = "Brabant"
nl_provincies["ZH"] = "Zuid Holland"

nl_steden = {"LI": ("Maastricht", "Hulsberg", "Valkenburg"), "BR": ("Eindhoven", "Den Bosch", "Kaatsheuvel"), "NH": ("Amsterdam", "Haarlem", "Alkmaar"), "ZH": ("Rotterdam", "Den Haag", "Delft", "Gouda")}

def stad_mapper(state_code: str):
    print(nl_provincies[state_code], nl_steden[state_code], sep = ": ")

stad_mapper("BR")

Brabant: ('Eindhoven', 'Den Bosch', 'Kaatsheuvel')

## 4. Classes and Objects
*Note that this is not a detailed introduction into OOP and we glance over a lot of subtleties and use terminology loosely*

We won't be actively doing much object-oriented programming in this class, but we will frequently use objects as they are returned by a library. 

**Objects** are a data-structure that you can customize completely. They also provide interfaces to manipulate that data. 

[**Object oriented programming**](https://en.wikipedia.org/wiki/Object-oriented_programming) is one of the most commonly used programming paradigms. It's based on bundling data together with functionality, i.e., it's a combination of a data structure and functions – called **methods** – that operate on the data of an object. 

**Classes** are templates or data types for **objects**. An object of a class is also called an **instance** of that class. 

Let's define a class:

In [120]:
class Person: 
    # a class variable, shared by all instances
    name = "blank"
    
    # a method setting the value of a member
    def set_name(self, name):
        # write the parameter self to the member variable name
        # both, "self" and "name" are arbitrary terms
        self.name = name
    
    # a method that does something, without a variable
    def print_name(self):
        print("Name:", self.name)

Notice the use of the `class` keyword to define the class. 

Methods are defined just like functions, but they have the `self` variable. The name of that variable is actually not relevant, but it's customary to call it `self`. This is a reference to the specific instance. You don't specify that variable when you call the method, it's provided for you automatically based on the object you're calling.

Here, we instantiate that class and set a parameter via a method; then use the `print_name()` method:

In [121]:
ringo = Person()
# method without parameter
ringo.print_name()
# call a method with a parameter
ringo.set_name("Ringo")
ringo.print_name()
# accessing a class member
ringo.name

Name: blank
Name: Ringo

'Ringo'

Here, we create a different person:

In [122]:
paul = Person()
paul.set_name("Paul")
paul.print_name()
ringo.print_name()

Name: Paul
Name: Ringo

If we ask for the data type of our ringo variable, we'll see that it's an instance of our class:

In [123]:
type(ringo)

__main__.Person

We can also use a shorthand to initialize objects with the required variables. We use the `__init__` method (the name matters here) to do that.

In [126]:
class Musician: 
    # instantiation operation
    def __init__(self, name, instrument):
        # an instance variable, specific to that instance
        self.name = name
        self.instrument = instrument
    
    def print_musician(self):
        print(self.name, "plays", self.instrument)

With this definition, we create an object and at the same time specify its parameters.

In [127]:
ringo = Musician("Ringo", "Drums")
ringo.print_musician()
ringo.instrument

Ringo plays Drums

'Drums'

If we have that signature, we also do have to use it. This will fail:

In [128]:
# will throw a Type Error because we didn't use the proper signature
paul = Musician()

TypeError: Musician.__init__() missing 2 required positional arguments: 'name' and 'instrument'

A workaround is to use default values:

In [129]:
class Musician: 
    def __init__(self, name="default", instrument="default"):
        # an instance varaible, specific to that instance
        self.name = name
        self.instrument = instrument
    
    def print_musician(self):
        print(self.name, "plays", self.instrument)

In [130]:
paul = Musician()
paul.print_musician()

default plays default

There is more to OO than what we covered here. For example, inheritence is a common paradigm that's also supported in Python. But what we've learned is enough to use objects that are provided by the libraries we'll be using. You can learn more from the [official documentation](https://docs.python.org/3/tutorial/classes.html).

## 5. Working with Modules

While we briefly touched on modules (remember the `import math` statement), we haven't really talked about what a module is. Modules are used, ugh, to modularize code. You can write a module by simply creating a `.py` file. We won't be writing many modules ourselves, but we will use them extensively.

To import a module simply write

```python
import module_name
```

You can then use functions defined in the module with the `.` notation. Here's an example:

In [131]:
import math
math.sqrt(9)

3.0

We can also use the `from` notation to import specific functions from a package and add them directly to the namespace:

In [132]:
from math import log10
# notice that this is NOT accessed via math.log10()
log10(3)

0.47712125471966244

You can also bulk-import all functions of a module into your local namespace, however, this is **strongly discouraged**, as it can lead to name-clashes and makes your code unreadable eventually.

In [133]:
from math import * 
log2(3)

1.584962500721156

Finally, we can redefine the name of a module. This is useful to define a shorthand for long library names.

In [134]:
import math as m 
m.sqrt(13)

3.605551275463989